
@{
    Layout = null;
}


<div class="row">
    <div class="col-12 text-center">
        <h2>Məlumat tapılmadı</h2>
        <p class="m-0">Axtardığınız parametrlərə uyğun heç bir məlumat tapılmadı.</p>
    </div>
</div>