@model IEnumerable<WhyChooseUs>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-5">Niyə biz</h1>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Başlıq</th>
                                <th scope="col">Məzmun</th>
                                <th scope="col">İkon</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Heading</td>
                                    <td>@Html.Raw(item.Content)</td>
                                    <td><img width="64" src="/img/@item.IconUrl" /></td>
                                    <td class="text-right">
                                        <a class="btn btn-warning" asp-action="update" asp-route-id="@item.Id">Yenilə</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>