<section class="h-100 w-100">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <h1>Vivani Admin Panel</h1>
        </div>
    </div>
</section>