@model ChangePasswordVm

<section id="change-password" class="h-100">
    <style>
        form span {
            color: red;
            font-size: 14px
        }

        form label {
            font-size: 14px;
            margin: 0
        }
    </style>
    <div class="container-fluid h-100">
        <form class="row justify-content-center align-content-center h-100" method="post">
            <div class="col-7 mb-3" asp-validation-summary="ModelOnly"></div>
            <div class="col-7 mb-3">
                <label>Köhnə şifrə</label>
                <input class="w-100" asp-for="OldPassword" />
                <span asp-validation-for="OldPassword"></span>
            </div>
            <div class="col-7 mb-3">
                <label>Yeni şifrə</label>
                <input class="w-100" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-7 mb-3">
                <label>Şifrəni təsdiqlə</label>
                <input class="w-100" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="col-7 mb-3">
                <input type="submit" value="Dəyiş" />
            </div>
        </form>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

