@model Contact
<ul>
    <li>
        <i class="fas fa-map-marker-alt"></i>
        @Model.Adress
    </li>
    <li>
        <i class="fas fa-phone-alt"></i>
        <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a>
    </li>
    <li>
        <i class="fas fa-envelope"></i>
        <a href="mailto:"@Model.Email">@Model.Email</a>
    </li>
</ul>