@model ProductType
<style>
    form span {
        font-size: 14px;
        color: red;
    }
</style>
<section id="productCategoryAdminCreate">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-5">Məhsul Əyarları</h1>
            </div>
        </div>
        <form method="post" class="row">
            <div class="col-12" asp-validation-summary="ModelOnly"></div>
            <div class="col-12">
                <label>Əyar</label>
                <input asp-for="Name" class="w-100" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="col-12 mt-4">
                <input type="submit" value="Yadda saxla" class="btn btn bg-success text-white" />
            </div>
        </form>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}