
<section id="breadcrumb">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <p>
                    <a href="index.html">Ana səhifə</a>
                    <i class="fas fa-angle-double-right"></i>
                    Əlaqə
                </p>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="image-wrapper">
                    <img src="img/contact.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center px-lg-5">
                <div class="main-heading text-center text-lg-left">
                    <h1>Əlaqədə qalın !</h1>
                    <p>We'd Love to Hear From You, Lets Get In Touch!</p>
                </div>
                <div class="row">
                    <div class="col-6 adress">
                        <h1>Ünvan</h1>
                        <p>4005, Silver business point India</p>
                    </div>
                    <div class="col-6 phone">
                        <h1>Əlaqə nömrəsi</h1>
                        <a href="tel:">+994(50)-555-55-55</a>
                    </div>
                    <div class="col-6 email">
                        <h1>Email</h1>
                        <a href="mailto:">office@jeweller.com</a>
                    </div>
                    <div class="col-6 hours">
                        <h1>İş saatları</h1>
                        <p>Həftəiçi hər gün saat 09:00 - 18:00-a dək xidmətinizdəyik</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid map">
        <div class="row">
            <div class="col-12 p-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.4120296548026!2d49.94975581525718!3d40.39972217936713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030630f12a08785%3A0x71f2cb035667ccb4!2sLachin%20Shopping%20Mall!5e0!3m2!1sen!2s!4v1604965135472!5m2!1sen!2s" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <div class="container form-cont">
        <div class="row">
            <div class="col-12">
                <h1>Bizə yazın</h1>
                <form action="post">
                    <div class="row">
                        <div class="col-md-4">
                            <input name="name" type="text" placeholder="Ad, Soyad">
                        </div>
                        <div class="col-md-4">
                            <input name="email" type="email" placeholder="E-mail">
                        </div>
                        <div class="col-md-4">
                            <input name="number" type="text" placeholder="Nömrəniz">
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="" placeholder="Mesajınız" rows="7"></textarea>
                        </div>
                        <div class="col-12 text-center text-md-right">
                            <input type="submit" value="Göndər" class="mainBtn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>